*{
    margin:0;
    padding:0;
    border:0;
}
body{
    overflow: hidden;
}
::-webkit-scrollbar{
    width:1vw;
}
::-webkit-scrollbar-thumb{
    background: rgb(34, 67, 117);
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    display: hidden;
}
.content{
    position: relative;
    width:100vw;
    height:100vh;
}
.background{
    height:100%;
    background: linear-gradient(white, lightblue);
}
.foreground{
    width:81%;
    height:30%;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-color: black;
    border-width:0px 0px 2px 0px;
    background-color:rgb(67, 97, 231);
}
.hidden{
    width:1%;
    height:5%;
}
.logout{
    margin-left:108%;
    margin-top:3%;
    width:2%;
}
.logimg{
    width:2%;
}
.menu{
    height:5.6vh;
    width:81%;
    margin-left:auto;
    margin-right:auto;
    margin-top:-2.5%;
    background-color:white;   
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
.mText{
    margin-top:5%;
    font-family: sans-serif;
}
.img{
    width:100%;
}
.mLButton{
    width:2%;
    margin-left:3%;
    margin-top:0.4%;
    transition:1s ease;
}
.mRButton{
    width:2%;
    margin-right:3%;
    margin-top:0.4%;
    transition: 1s ease;
}
.mLButton{
    float:left;
}
.mRButton{
    float:right;
}
.mLButton:hover{
    margin-left:2.9%;
    margin-top:0.3%;
    width: 2.2%;
    cursor: pointer;
}
.mRButton:hover{
    margin-right:2.9%;
    margin-top:0.3%;
    width:2.2%;
    cursor: pointer;
}
.msearch{
    float:right;
    border: 1px solid lightgray;
    border-radius: 5vw;
    height:100%;
    width:20%;
    margin-right:4%;
    z-index:10;
}
#search:focus {
    outline: none;
  }
#search{
    height:200%;
    padding-left:7%;
    margin-top:4%;
}
.box{
    width:81%;
    height:80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgb(67, 97, 231), rgb(20, 21, 77));
    overflow-x:hidden;
}
.hiddenbox{
    width:10%;
    height:4%;
}
.creserv{
    margin-left:2%;
    width:2%;
}
.createimg{
    width:2%;
}
.button{
    width:65%;
    height:7vh;
    margin-left:18%;
    margin-top:5%;
    transition:1s ease;
    background: linear-gradient(rgb(144, 180, 247), rgb(144, 180, 247));
}
.button:hover{
    cursor: pointer;
    background:linear-gradient(20deg, rgb(44, 87, 167) 1%,rgb(144, 180, 247) 40%, white 100%);
    box-shadow: 0.5px 0.5px 6px 0px;
}   
.hidden2{
    height:30%;
}